.ruleta-wrapper canvas {
  background: transparent;
}

.ruleta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
  background: none; 
  box-shadow: none;
  border: none;
}

.ruleta-wheel {
  flex: 1;
  max-width: 400px;
  background: none;   
  border: none;         
  box-shadow: none;     
}

.ruleta-spin-button {
  margin-top: 1.5rem;
  text-align: center;
}

.ruleta-spin-button button {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(24, 52, 194, 0);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: transform 0.2s, background-color 0.2s;
}

.ruleta-spin-button button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.507); /* leve para hover */
}


.resultado-info {
  flex: 1;
  text-align: center;
  color: white;
}

.resultado-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.resultado-info img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
